import(XML, stringr)
importFrom("utils", "tail")
importFrom("stats", "reshape")
export(read.dataset.xml, 
       getDLMD, 
       getVarMD,
       getValMD,
       getCT,
       getARDISP,
       getAR
       )

